.checkbox {
  --checkbox-key-color: var(--blue-06);
  --checkbox-sub-color: var(--blue-01);

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.toggle {
  flex-shrink: 0;
  width: 3.5rem;
  aspect-ratio: 2;
  background-color: var(--checkbox-sub-color);
  box-sizing: content-box;
  padding: 0.2rem;
  border-radius: 99px;
  border: 2px solid var(--checkbox-key-color);
}

.toggle-inner {
  position: relative;
  width: 50%;
  background-color: var(--checkbox-key-color);
  aspect-ratio: 1;
  border-radius: 50%;
  transition: transform 0.2s;
  &:before {
    content: '\F62A';
    font-family: 'bootstrap-icons';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--checkbox-sub-color);
    font-size: 1.8rem;
  }
}

input:checked + .label {
  .toggle {
    background-color: var(--checkbox-key-color);
    border-color: var(--checkbox-key-color);
  }

  .toggle-inner {
    background-color: var(--checkbox-sub-color);
    transform: translateX(100%);
    &:before {
      content: '\F26E';
      color: var(--checkbox-key-color);
    }
  }
}

input:focus-visible + label {
  outline: 2px solid black;
}
