.tree-node {
  --padding-inline: var(--tree-title-padding-inline, 15px);
}

.tree-title {
  position: relative;
}

.link {
  display: block;
  width: 100%;
  padding-block: 1em;
  padding-left: calc((var(--depth, 0) - 1) * 15px + var(--padding-inline));
  padding-right: var(--tree-title-padding-inline, 15px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: var(--blue-01);
  }

  &:global(.active) {
    background-color: var(--blue-04);
    color: white;
  }
}

.toggle-btn {
  position: absolute;
  right: var(--padding-inline);
  top: 50%;
  transform: translateY(-50%);
  padding: 0.2em;
  border-radius: 2px;

  &:hover,
  &:focus-visible {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.list-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  visibility: hidden;
  transition: all 0.2s allow-discrete;
  > * {
    overflow: hidden;
  }
}

.list-wrapper.expand {
  grid-template-rows: 1fr;
  visibility: visible;
}
